#################################################################################
#	Header
#################################################################################




[EM]

[Tran]

[Eye]
	#################################################################################
	# Input File Types
	# 	Ansys Electronics Desktop - *.aedt
	# 	Comma delimited data file - *.csv
	# 	Hspice TR output file - *.tr# (TBD)
	#################################################################################
	<Setup>		
		(Input File)		
		(Design)
		(Report Name)
			# = Checked Report Name
		(Setup Name)
		(DDR Gen)
		(Data-rate)
		
	<Net Classification>
		# (Net Name) = Checked, Group, Matched String, Analyze Group
		
	<Analyze Option>
		(Resources Folder)
		(Definition File)
		(configuration File)
		(Eye Offset)
		(Vref Method)
		(Analyze Method)
		(Export Excel Report)
		(Image Width)
		(Report Format)
		(Plot Eye with Mask)
		(Check DDR Compliance)
		
	<DDR Compliance>
		# (Test Items) = [Checked, Required Net Group, Identified Net Group]