############################################################
#	Ansys DDR Wizard v0.0 Configuration File
#		Input File : 
#		Start : 2022.05.09, 06:11:01
#		End   : 2022.05.09, 06:11:05
############################################################

[EM]

[Tran]

[Eye]
	<Setup>
		(Input File) = D:\1_Work\20220106_DDR_Compliance\0_DB\0_Input_Examples\AEDT_Schematic\Galileo_R21_DDR_SSN_siwave.aedt
		(Design)
		(Report Name)
		(Setup Name)
		(DDR Gen)
		(Data-rate)

	<Net Classification>

	<Analyze Option>
		(Resources Folder) = D:\1_Work\20220106_DDR_Compliance\1_Work\Code\ANSYS_DDR_Wizard_v0\Resources
		(Definition File) = D:\1_Work\20220106_DDR_Compliance\1_Work\Code\ANSYS_DDR_Wizard_v0\Resources\Ref.def
		(Configuration File) = D:\1_Work\20220106_DDR_Compliance\1_Work\Code\ANSYS_DDR_Wizard_v0\Resources\Ref.cnf
		(Eye Offset) = 5 ns
		(Vref Method) = 0, Auto-default
		(Analyze Method) = 0, Default
		(Export Excel Report) = False
		(Plot Eye with Mask) = False
		(Check DDR Compliance) = False