#################################################################################
#	Header
#################################################################################

[EM]

[Tran]

[Eye]
	#################################################################################
	# Input File Types
	# 	Ansys Electronics Desktop - *.aedt
	# 	Comma delimited data file - *.csv
	# 	Hspice TR output file - *.tr# (TBD)
	#################################################################################
	<Setup>
		(Initial Input File Directory) = D:\1_Work\20220106_DDR_Compliance\0_DB\0_Input_Examples
		(Input File)
		# Design, Report : Only for *.aedt Input File Type 1 
		(Design)
		(Report Name)
		(Setup Name)
	#####################################################################################################
	# DDR Generation & Data-rate [Mbps]
	#	DDR2	-	400,	533,	667,	800
	#	DDR3	-	800,	1066,	1333,	1600,	1866,	2133
	#	DDR4	-	1600,	1866,	2133,	2400,	2666,	2933,	3200
	#	DDR5	-	3200,	3600,	4000,	4800,	5000,	5120,	5333,	5600,	6400
	#	LPDDR2	-	800,	1067
	#	LPDDR3	-	1600,	2133
	#	LPDDR4	-	3200,	4267
	#	LPDDR5	-	6400,	8533
	#####################################################################################################	
	<DDR Gen>
	<DDR Speed>
	#####################################################################################################	
	<Net Classification>
		(DM)
		(DQ)
		(DQS)
		(CLK)
		(ADDR)
		(OTHER)
	
[Comp]

[Net Identification]
	# The priority of the net group classification specified between "<" and ">" symbols is the same as the order written below.
	# <Ignore> : this string in net name will be ignored during net identifying process
	# ? : arbitrary number in range [0~99]
	<DQ>	= DQ_?
	<DQS>	= DQS?, DQS_?, DQSN?, DQSN_?, DQS_N?, DQS_N_?
	<ADDR> = ADDR?,ADDR_?, CA?, CA_?, MA?, MA_?, A?, A_?
	<CLK>	= CLK?, CLK_?, CLKN?, CLKN_?, CLK_N?, CLK_N_?, CK?, CK_?, CKN?, CKN_?, CK_N?, CK_N_?
	<DM>	= DM?, DM_?
	<Ignore>











